body{
  background-color: #dbecf4;
  padding-top: 100px;
}

.App {
  max-width: 960px;
  margin: 0 au;
}
.App h1{
  text-align: center;
  color: #194569;
}

footer{
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: #5f84a2;
}

